/* ================= common css part start ================= */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
/* ================= main menu part start ==================== */
body {
  background: #6CA2B9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
/* =================== player one ======================= */
#main_menu {
  width: 500px;
  padding: 32px 32px;
  background: #DEE1EC;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.show{
  font-family: Arial, Helvetica, sans-serif;
  font-family: 700;
  font-size: 34px;
  color:#2C3F59;
  text-align: center;
}
.error {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 700;
  font-size: 20px;
  color:#d10c0c;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.player_one_input, .player_two_input, .player_three_input{
  width: 350px;
  height: 30px;
  margin-top: 15px;
  margin-left:40px ;
  padding: 20px 8px;
  text-align: center;
  border: 2px solid #DDCED7;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: capitalize;
}
.player_one_button, .player_two_button, .player_three_button {
  width: 140px;
  padding: 8px 8px;
  margin-left: 142px;
  margin-top: 30px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #132026;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 36px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.player_one_button:active , .player_two_button:active , .player_three_button:active{
  box-shadow: rgba(18, 8, 56, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.counter{
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 16px 16px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 3px #1e0d0d, 0 0 5px #e6c0d8;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.player_two, .player_three {
  display: none;
}
